body{
    height: 100vh;
    width: 100vw;
}

.nav_bar {
    width: 120px;       
    height: 100vh;     
    position: fixed;   
    top: 0;             
    left: 0;            
    background-color:  darkgray;
}

.content{
   
    margin-left: 120px;
    background-color: #ffffff; 
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    /*background-color: aqua;*/
    
}

#file_display { 
    max-width: 250px;     
    height: 100vh;      
    background-color: #f0f0f0;
}

#file-container {
    display: grid;
    width:30%;
    height: 100vh;
  }

  file{
    background-color: #b95757;
    text-align: center; 
  }
  folder{
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    padding: 20px;
    background-color: #e35656;
    }


