@font-face {
    font-family: "nunito";
    src: url(https://fonts.gstatic.com/s/nunito/v26/XRXX3I6Li01BKofIMNaDRs7nczIH.woff2);
}


#file_display {    
    position: relative; 
    height: 100%;   
    width: 100%;   
    font-family: 'nunito', Arial, Helvetica, sans-serif;
}

/*.file_display_header{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}*/
.text-file{
    position: relative;
    display: block;
    margin-left: 10px;
    margin-right: 5px;
    padding: 5px 5px 5px 10px; 
    margin-top: 5px;
    border-radius: 10px;
}


.directory{
    position: relative;
    display: block;
    margin-left: 10px;
    padding: 5px 5px 5px 0px; 
}



.directory-name{
    display: block;
    padding: 5px 5px 5px 10px;
    font-weight: bold;
    border-radius: 10px;
}

.directory-name:hover{
    background-color: lightgray;
}

.text-file:hover{
    background-color: lightgray;
}

.selected{
    background-color: red;
}

.selected:hover{
    background-color: #FFC300;
}

.root {
    position: absolute;
    width: 100%;
    height: 100%;
}

#add-file, #add-folder{
    margin-left: 45px;
}
