@font-face {
    font-family: "nunito";
    src: url(https://fonts.gstatic.com/s/nunito/v26/XRXX3I6Li01BKofIMNaDRs7nczIH.woff2);
}


body{
    height: 100vh;
    width: 100vw;
}

.nav_bar {
    width: 120px;       
    height: 100vh;     
    position: fixed;   
    top: 0;             
    left: 0;            
    background-color:  darkgray;
}

.content{
   
    margin-left: 120px;
    background-color: #ffffff; 
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    /*background-color: aqua;*/
    
}

#file_display { 
    max-width: 250px;     
    height: 100vh;      
    background-color: #f0f0f0;
    font-family: 'nunito', Arial, Helvetica, sans-serif;

    padding-top: 10px;
}

.file_display_header{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}

.directory, .text-file{
    display: block;
    margin-left: 10px;
    padding: 5px 5px 5px 5px; 
    
}

.directory-name{
    display: block;
    padding: 5px 5px 5px 5px; 
    font-weight: bold;
}

.directory-name:hover{
    background-color: lightgray;
}

.text-file:hover{
    background-color: lightgray;
}

.selected{
    background-color: red;
}

.selected:hover{
    background-color: darkred;
}

